<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/style.css"/>

    <title>Breed</title>

</head>

<body class="bg-dark">
<div class="container my-auto mx-auto bg-dark">

    <h1>List of Breeds</h1>

    <div class="container my-1">
        <button type="button" class="btn btn-outline-warning" onclick="window.location.href='/breeds/new';">Add New Breed</button>
    </div>

    <div class="container my-1">
        <table th:border="4" th:cellpadding="10"
               class="table table-bordered text-center table-dark table-striped">
            <thead class="my-auto mx-auto col-form-label text-warning">
            <th>Breed's name</th>
            <th>Variety's Name</th>
            <th>Actions</th>
            </thead>

            <tbody>
            <tr th:each="breed : ${breedList}" th:classappend="${#lists.size(breed.varieties) > 5} ? 'row-increased-height'">
                <td th:text="${breed.breedName}"></td>

                <td>
                    <span th:each="variety, iterStat : ${breed.varieties}">
                        <span th:text="${variety}"></span>
                        <span th:if="${!iterStat.last}">/ </span>
                    </span>
                </td>

                <td>
                    <div class="btn-group" role="group">
                        <a th:href="@{'/breeds/' + ${breed.id} + '/edit'}" class="btn btn-outline-warning btn-sm me-1">Edit</a>
                        <a th:href="@{'/breeds/' + ${breed.id} + '/delete'}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>