<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/style.css"/>

    <title>New Breed's Form</title>

</head>

<body>
<div class="container my-1">
    <div><h1 class="text-secondary align-content-center">Provide details of the new breed</h1></div>

    <div class="container my-1">
        <button type="button" class="nav-button" onclick="window.location.href='/breeds';">Back to Main Page
        </button>
    </div>
    <br>
    <br>

    <div class="form-group-row">
    <form th:action="@{/breeds/save}" th:object="${breed}" method="post"
          style="max-width: 600px; margin: 0 auto;">

        <input type="hidden" th:field="*{id}" th:value="${breed.id}"/>

        <div class="m-12">
            <div class="form-group row">
                <label class="col-form-label col-sm-4 text-warning">Breed Name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{breedName}" class="form-control" required>
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label class="col-form-label col-sm-4 text-warning">Variety Name</label>
                <div class="col-sm-8">
                    <div th:each="variety : ${breed}">
                        <input type="text" th:field="${breed.varieties}" class="form-control" name="varietyName">
                    </div>
                </div>
            </div>

            <br>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-outline-info">Save</button>
            </div>
        </div>
    </form>
    </div>

</div>
</body>
</html>