<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/style.css"/>

    <title>Edit Breed's Form</title>

</head>

<body class="bg-dark">
<div class="container my-3">

    <div><h1>Edit Breed Name</h1></div>
    <div class="container my-1">
        <button type="button" class="btn btn-outline-warning" onclick="window.location.href='/breeds';">Back to Main Page</button>
    </div>
    <br>
    <br>

        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-warning">Breed Name</label>
            <div class="col-sm-4">
                <form th:action="@{/breeds/save}" method="post" th:object="${breed}">
                    <input type="hidden" name="id" th:value="${breed.id}"/>-->
                    <input type="text" name="breedName" th:field="*{breedName}" class="form-control custom-input">
                    <button type="submit" class="btn btn-outline-info">Save</button>
                </form>

            </div>
        </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-4 text-warning">Add Variety</label>
        <div class="col-sm-4">
            <form th:action="@{'/breeds/' + ${breed.id} + '/varieties/add'}" method="post" th:object="${variety}">
                <input type="text" name="varietyName" th:field="*{varietyName}" class="form-control custom-input">
                <button type="submit" class="btn btn-outline-info">Add</button>
            </form>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label class="col-form-label col-sm-4 text-warning">Variety Name</label>
        <div class="col-sm-4">
            <div th:each="variety, varietyStat : *{breed.varieties}">
                <div class="input-group mb-2">
                    <input type="text" th:field="*{breed.varieties[__${varietyStat.index}__]}"
                           class="form-control custom-input" required>
                    <form th:action="@{'/breeds/' + ${breed.id} + '/varieties/delete'}" method="post">
                        <input type="hidden" name="index" th:value="${varietyStat.index}">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>